img {
  background-color: rgb(137, 204, 137);
}

mat-card {
  width: 25rem;
}

mat-card-content,
mat-card-actions {
  margin-left: 1rem;
}

@media (max-width: 390px) {
  mat-card {
    width: 18rem;
  }
}
