<mat-toolbar color="primary">
    <div fxHide.gt-xs>
        <button mat-icon-button 
                (click)="onToggleSidenav()">
            <mat-icon>menu</mat-icon>
        </button>
    </div>
    <div fxFlex fxLayout fxHide.xs>
        <div fxLayout fxLayoutGap="15px">
            <a routerLink="./search" >
                <span>Search Places</span>
            </a>
            <a routerLink="./list" 
               >
                <span>List Recents</span>
            </a>
            <a routerLink="./about" 
               >
                <span>About Us</span>
            </a>
        </div>
        
    </div>
    <span class="spacer"></span>
    <mat-icon>code</mat-icon>
</mat-toolbar>