<div class="container mt-4 mb-5">
  <h2 *ngIf="near; else recents" class="mt-3">
    Places near "{{ near | titlecase }}"
  </h2>
  <div fxLayout="row grap" fxLayoutAlign="center" fxLayoutGap="70px">
    <div fxflex="20" fxflex.lg="15" fxflex.sm="30" *ngFor="let place of places">
      <app-place-card
        [place]="place"
        [near]="near"
        [POIData]="POI"
      ></app-place-card>
    </div>

    <ng-template #recents>
      <h1 class="mt-3">Your recent searches</h1>
      <hr />
    </ng-template>

    <div *ngIf="places === undefined">
      <h3>No recent searches</h3>
      <div class="d-flex justify-content-center mb-5">
        <div class="justify-content">
          <button mat-raised-button color="accent" routerLink="../search">Go to search</button>
        </div>
      </div>
    </div>
  </div>
</div>
