<div class="image">
  <div class="full d-flex justify-content-center align-items-center">
    <div class="message px-5 py-4 font-italic">
      “Experience is the name everyone gives to their mistakes.” – Oscar Wilde
    </div>
  </div>
</div>
<div class="container">
  <div class="d-flex justify-content-center mb-5">
    <div class="about justify-content">
      <h1 class="mt-4">About me</h1>
      <hr />
      <p>
        I'm a Junior Software developer just graduated. I have builded this
        application in order to face a job interview challenge. It might not be
        perfect, it might not be good, it might not be enough for many but for
        me, is the result of many days of hard work and it has allowed me to
        adquire so much new knowledge. So many other things could have been
        implemented but I am so happy of how everything ended up showing. I have
        sure learnt a lot through this journey, not only about programming but
        also about myslef and the way I face difficult situations. I'm so proud
        of myself.
      </p>
      <p>
        If you are starting your own developing journey and you feel like it is
        too much or too difficult, just keep going. Day after day, error after
        error, you will be able to look back and admire how far you have come.
        Imagine in a few years. I'm with you, I trust you.
      </p>
    </div>
  </div>
</div>
