<div class="image">
    <div class="full d-flex justify-content-center align-items-center">
      <div class="message px-5 py-4">
        <p>
            Welcome to the Places App!
        </p>
        <p>
            What do you want to search today?
        </p>
         
      </div>
    </div>
  </div>
  <div class="container">
    <div class="d-flex justify-content-center mb-5">
      <div class="justify-content mt-5">
        <button mat-raised-button color="accent" routerLink="../search">Go to search</button>
      </div>
    </div>
  </div>
  
